<!-- PROMOTION PARALLAX -->
<section class="promotionWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="promotionTable">
          <div class="promotionTableInner">
            <div class="promotionInfo">
              <p>&nbsp;</p>
              <span>엄마와 학생이 함께 하는 Oxford-Cambridge-London</span>
              <h2>Education Tour</h2>
              <ul class="list-inline rating">
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
              </ul>
              <p style="text-align: left; font-size: 13px;">
                2017년 1월 9일부터 14일 동안 “엄마+학생 together”<br />
                호텔-비행기-모든 식대-공항 픽업-차비-가이드비-입장료-뮤지컬 관람비 등
                모든 것이 다 포함되는 가격<br />
                15 인승 밴으로 움직이기 때문에 딱 여섯 팀만 모집합니다.
                숙소는 런던 시내에 위치한 Holliday Inn 입니다.
              </p>
              <p style="text-align: left; font-size: 13px;">
                운전은 현지 경험이 풍부하신 한인 교회 목사님이 해주십니다. 이동은 모두 15인승 밴으로 합니다.<br />
                각 대학 안내는 대학에서 연구원으로 일하시는 한국인 선생님들이나, 현지 대학의 학부생들이 해 줍니다. <br />
                대학 내부에 들어가서 구경할 수 있는 특전이 있습니다.
              </p>
              <p>초특가가격 650만원 - 14일 (월 - 토)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
