<section class="mainContentSection singlePackage">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="generalInfo">
              <h2><a name="tour-schedule">여행 일정</a></h2>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="panel-group" id="accordionIcons">
               <div class="panel panel-default">
                 <a class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionIcons" href="#collapseOne" aria-expanded="false">
                     <span>첫째날 - 월요일 도착</span>
                     <i class="indicator fa  pull-right fa-minus"></i>
                 </a>
                 <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                   <div class="panel-body">
                    1월 9일 13:50 비행기로 런던 출발 – 1월 9일 19:12 도착 <br />
                    British Airways Flight 8571<br />
                    휴식 저녁 식사

                   </div>
                 </div>
               </div>
               <div class="panel panel-default">
                   <a class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionIcons" href="#collapseTwo" aria-expanded="false">
                     <span>둘째날 - 옥스퍼드 대학으로 출발</span>
                     <i class="indicator fa fa-plus  pull-right"></i>
                   </a>
                 <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                   <div class="panel-body">
                     <p>옥스퍼드 대학 구경</p>

                     <ol>
                       <li>특강: 나는 어떻게 옥스퍼드 대학에 들어왔는가? 어떻게 공부했는가? <br />[현지 학생들 강의- 영국인 학생 +한국인 학생]</li><br />
                       <li>옥스퍼드 대학 여러 연구소와 도서관 방문</li><br />
                       <li>옥스퍼드 구경 –처칠 생가 등 관광</li><br />
                       <li>런던 귀가</li>
                     </ol>
                   </div>
                 </div>
               </div>

               <div class="panel panel-default">
                   <a class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionIcons" href="#collapseThree" aria-expanded="false">
                     <span>셋째날 - 캠브리지 대학으로 출발</span>
                     <i class="indicator fa fa-plus  pull-right"></i>
                   </a>
                 <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
                   <div class="panel-body">
                     <p>대학 구경</p>
                     <ol>
                       <li>특강: 나는 어떻게 캠브리지 대학에 들어왔는가? 어떻게 공부했는가? <br />
                       [현지 학생들 강의 – 영국인 학생 +한국인 학생 ]</li><br />

                       <li>캠브리지 대학 여러 연구소와 도서관 방문</li><br />
                       <li>런던 귀가 – 석식 후 런던 야경 관광</li>
                     </ol>

                   </div>
                 </div>
               </div>

               <div class="panel panel-default">
                   <a class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionIcons" href="#collapseFour" aria-expanded="false">
                     <span>넷째날 - 런던 대학 탐방</span>
                     <i class="indicator fa fa-plus  pull-right"></i>
                   </a>
                 <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
                   <div class="panel-body">

                     <p>대학 구경</p>
                     <ol>
                       <li>UCL, Imperial College, SOAS, Institute of Education, Royal College of Music, Chelsea University of London 탐방 – 교수와 학생 면담</li><br />
                       <li>British Museum, British Library 관광</li><br />
                       <li>저녁 뮤지컬 관람</li><br />
                     </ol>
                   </div>
                 </div>
               </div>

               <div class="panel panel-default">
                   <a class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionIcons" href="#collapse5" aria-expanded="false">
                     <span>다섯째날 - 자유 관광</span>
                     <i class="indicator fa fa-plus  pull-right"></i>
                   </a>
                 <div id="collapse5" class="panel-collapse collapse" aria-expanded="false">
                   <div class="panel-body">

                     <p>자유 관광을 원하지 않으시는 분들에게는 세익스피어 생가와 윈저 캐슬등 관광을 제공합니다</p>
                   </div>
                 </div>
               </div>

               <div class="panel panel-default">
                   <a class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionIcons" href="#collapse6" aria-expanded="false">
                     <span>여섯째날 - 인천행</span>
                     <i class="indicator fa fa-plus  pull-right"></i>
                   </a>
                 <div id="collapse6" class="panel-collapse collapse" aria-expanded="false">
                   <div class="panel-body">
                     <p>12시 56분 BA 비행기로 인천행</p>
                   </div>
                 </div>
               </div>
            </div>

            <div class="col-xs-12">
              <div class="generalInfo">
                <h2>문의 사항</h2>
                <p>모든 문의는 <a href="mailTo:{{ site.email }}">{{ site.email }}</a>으로 해주세요.</p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
