<!-- Universities -->
<section class="whiteSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="sectionTitle">
          <h2><span>Universities</span></h2>
          <p><a name="universities">방문할 대학 및 장소들입니다.</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="filter-container isotopeFilters">
          <ul class="list-inline filter">
            <li class="active"><a href="#" data-filter="*">전부</a></li>
            <li><a href="#" data-filter=".oxford">옥스포드</a></li>
            <li><a href="#" data-filter=".cambridge">캠브리지</a></li>
            <li><a href="#" data-filter=".ucl">UCL</a></li>
            <li><a href="#" data-filter=".imperial">임페리얼</a></li>
            <li><a href="#" data-filter=".ioe">런던 교육대</a></li>
            <li><a href="#" data-filter=".soas">SOAS</a></li>
            <li><a href="#" data-filter=".chelsea">첼시 대학교</a></li>
            <li><a href="#" data-filter=".rcm">왕립 음악대</a></li>
            <li><a href="#" data-filter=".british-museum">대영 박물관</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row isotopeContainer">
        {% include university-figure.html image="img/universities/oxford-1.jpg" title="Oxford" keyword="oxford" %}
        {% include university-figure.html image="img/universities/oxford-2.jpg" title="Oxford" keyword="oxford" %}
        {% include university-figure.html image="img/universities/oxford-3.jpg" title="Oxford" keyword="oxford" %}
        {% include university-figure.html image="img/universities/cambridge-1.jpg" title="Cambrdige" keyword="cambridge" %}
        {% include university-figure.html image="img/universities/cambridge-2.jpg" title="Cambrdige" keyword="cambridge" %}
        {% include university-figure.html image="img/universities/cambridge-3.jpg" title="Cambrdige" keyword="cambridge" %}
        {% include university-figure.html image="img/universities/ucl-1.jpg" title="UCL" keyword="ucl" %}
        {% include university-figure.html image="img/universities/ucl-2.jpg" title="UCL" keyword="ucl" %}
        {% include university-figure.html image="img/universities/ucl-3.jpg" title="UCL" keyword="ucl" %}
        {% include university-figure.html image="img/universities/imperial-1.jpg" title="Imperial" keyword="imperial" %}
        {% include university-figure.html image="img/universities/ioe-1.jpg" title="Institute of Education" keyword="ioe" %}
        {% include university-figure.html image="img/universities/ioe-2.jpg" title="Institute of Education" keyword="ioe" %}
        {% include university-figure.html image="img/universities/soas-1.jpg" title="SOAS" keyword="soas" %}
        {% include university-figure.html image="img/universities/chelsea-1.jpg" title="Chelsea" keyword="chelsea" %}
        {% include university-figure.html image="img/universities/chelsea-2.jpg" title="Chelsea" keyword="chelsea" %}
        {% include university-figure.html image="img/universities/rcm-1.jpg" title="Royal College of Music" keyword="rcm" %}
        {% include university-figure.html image="img/universities/rcm-2.jpg" title="Royal College of Music" keyword="rcm" %}
        {% include university-figure.html image="img/universities/british-museum-1.jpg" title="British museum" keyword="british-museum" %}


    </div>
  </div>
</section>
